/* responsive de la barra de nav */
@media (max-width:  1280px){

    .content-contact{
        padding: 10px;
    }

}
@media (max-width:  830px){
    .header{
        background-color: var(--Color-Prymari)

        
    }
    .header nav{
        flex-direction: column;


        
        
    }

    .lista li{
        padding: 0 10px;
        border: solid 2px #fff;

    }

    .logo{
        text-align: center;
    }

    .lista{
        display: block;
        text-align: center;
        
    }

    h1{
        text-align: center;
    }

    .btn{
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .hero img
{
    background-position: center;
    background-size: cover;
}

.img-content{
    display: none;
}

.content{
    min-height: 300px ;
}

.content .text{
   text-align: center;
   width: 100%;
}

.elements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

}
@media (max-width: 700px){

    .header{
        background-color: var(--Color-Prymari)

        
    }
    .header nav{
        flex-direction: column;


        
        
    }

    .lista li{
        padding: 0 10px;
        border: solid 2px #fff;

    }

    .logo{
        text-align: center;
    }

    .lista{
        display: block;
        text-align: center;
        
    }

    h1{
        text-align: center;
    }

    .btn{
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .hero img
{
    background-position: center;
    background-size: cover;
}

.img-content{
    display: none;
}

.content{
    min-height: 300px ;
}

.content .text{
   text-align: center;
   width: 100%;
}

.elements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



@media screen and (max-width: 420px){

    .header{
        background-color: var(--Color-Prymari);
    }
    .header nav{
        flex-direction: column;
        
        
    }

    .lista li{
        padding: 0 10px;
        border: solid 2px #fff;

    }

    .logo{
        text-align: center;
    }

    .lista{
        display: block;
        text-align: center;
    }

    h1{
        text-align: center;
    }

    .btn{
        padding: 10px 40px;
        position: relative;
        right: 10%;
        display: flex;
        justify-content: center;
        margin-right: 80%;
    }

    .hero img
{
    background-position: center;
    background-size: cover;
}

.img-content{
    display: none;
}

.content{
    min-height: 370px ;
    
}

.content .text{
   text-align: center;
   width: 100%;
   
   
   
}

.elements{
    display: grid;
    grid-template-columns: 1fr;
}

.project-card{
    display: grid;
    grid-template-columns: 1fr;
}

.content-contact{
    padding: 15px;
}

input{
    width: 300px;

}

textarea{
    width: 300px;
}
}







